
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="keywords"
        content="EcoShop, bootstrap-5, bootstrap, sass, css, HTML Template, HTML,html, bootstrap template, free template, figma, web design, web development,front end, bootstrap datepicker, bootstrap timepicker, javascript, ecommerce template,dashboard,bootstrap-dashboard">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="C:\Users\Het\Desktop\user\userResource\image\top-logo.png">

    <!--title  -->
    <title>EcoShop | Profile</title>


    <!--------------- swiper-css ---------------->
    <link rel="stylesheet" href="../../static/userResource/css/swiper10-bundle.min.css">

    <!--------------- bootstrap-css ---------------->
    <link rel="stylesheet" href="../../static/userResource/css/bootstrap-5.3.2.min.css">

    <!---------------------- Range Slider ------------------->
    <link rel="stylesheet" href="../../static/userResource/css/nouislider.min.css">

    <!---------------------- Scroll ------------------->
    <link rel="stylesheet" href="../../static/userResource/css/aos-3.0.0.css">

    <!--------------- additional-css ---------------->
    <link rel="stylesheet" href="../../static/userResource/css/style.css">


</head>

<body>


    <!--------------- header-section --------------->
    {% include 'user/header.html' %}
    <!--------------- header-section-end --------------->

    <!--------------- blog-tittle-section---------------->
    <section class="blog about-blog">
        <div class="container">

            <div class="blog-heading about-heading">
                <h1 class="heading">User Dashboard</h1>
            </div>
        </div>
    </section>
    <!--------------- blog-tittle-section-end---------------->

    <!---------------user-profile-section---------------->
    <section class="user-profile footer-padding">
        <div class="container">
            <div class="user-profile-section box-shadows">
                <div class="dashboard-heading ">
                    <h5 class="dashboard-title">User Options</h5>
                    <div class="dashboard-switch">
                        <span class="text">Switch Dashboard</span>
                        <span onclick="switchDashboard()" class="switch-icon"></span>
                    </div>
                </div>
                <div class="user-dashboard">
                    {% include 'user/userMenu.html' %}

                    <!-- nav-content -->
                    <div class="tab-content nav-content" id="v-pills-tabContent" style="flex: 1 0%;">


                         <div >
                            <div class="profile-section address-section addresses ">
                                <div class="row gy-md-0 g-5">
                                    <div class="col-md-6">
                                        <div class="seller-info">
                                            <h5 class="heading">Address-01</h5>
                                            <div class="info-list">
                                                <div class="info-title">
                                                    <p>Name:</p>
                                                    <p>Email:</p>
                                                    <p>Phone:</p>
                                                    <p>City:</p>
                                                    <p>Zip:</p>
                                                </div>
                                                <div class="info-details">
                                                    <p>Abdullah Al Mamun</p>
                                                    <p>demoemail@gmail.com</p>
                                                    <p>023 434 54354</p>
                                                    <p>Haydarabad, Rord 34</p>
                                                    <p>3454</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="seller-info">
                                            <h5 class="heading">Address-02</h5>
                                            <div class="info-list">
                                                <div class="info-title">
                                                    <p>Name:</p>
                                                    <p>Email:</p>
                                                    <p>Phone:</p>
                                                    <p>City:</p>
                                                    <p>Zip:</p>
                                                </div>
                                                <div class="info-details">
                                                    <p>Sajjad</p>
                                                    <p>demoemail@gmail.com</p>
                                                    <p>023 434 54354</p>
                                                    <p>Haydarabad, Rord 34</p>
                                                    <p>3454</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <a href="#" class="shop-btn" onclick="modalAction('.submit')">Add New
                                            Address</a>
                                        <!-- modal -->
                                        <div class="modal-wrapper submit">
                                            <div onclick="modalAction('.submit')" class="anywhere-away"></div>

                                            <!-- change this -->
                                            <div class="login-section account-section modal-main">
                                                <div class="review-form">
                                                    <div class="review-content">
                                                        <h5 class="comment-title">Add Your Address</h5>
                                                        <div class="close-btn">
                                                            <img src="./assets/images/homepage-one/close-btn.png"
                                                                onclick="modalAction('.submit')" alt="close-btn">
                                                        </div>
                                                    </div>
                                                    <div class=" account-inner-form">
                                                        <div class="review-form-name">
                                                            <label for="firstname" class="form-label">First
                                                                Name*</label>
                                                            <input type="text" id="firstname" class="form-control"
                                                                placeholder="First Name">
                                                        </div>
                                                        <div class="review-form-name">
                                                            <label for="lastname" class="form-label">Last Name*</label>
                                                            <input type="text" id="lastname" class="form-control"
                                                                placeholder="Last Name">
                                                        </div>
                                                    </div>
                                                    <div class=" account-inner-form">
                                                        <div class="review-form-name">
                                                            <label for="useremail" class="form-label">Email*</label>
                                                            <input type="email" id="useremail" class="form-control"
                                                                placeholder="user@gmail.com">
                                                        </div>
                                                        <div class="review-form-name">
                                                            <label for="userphone" class="form-label">Phone*</label>
                                                            <input type="tel" id="userphone" class="form-control"
                                                                placeholder="+880388**0899">
                                                        </div>
                                                    </div>
                                                    <div class="review-form-name address-form">
                                                        <label for="useraddress" class="form-label">Address*</label>
                                                        <input type="text" id="useraddress" class="form-control"
                                                            placeholder="Enter your Address">
                                                    </div>
                                                    <div class=" account-inner-form city-inner-form">
                                                        <div class="review-form-name">
                                                            <label for="usercity" class="form-label">Town /
                                                                City*</label>
                                                            <select id="usercity" class="form-select">
                                                                <option>Choose...</option>
                                                                <option>Newyork</option>
                                                                <option>Dhaka</option>
                                                                <option selected>London</option>
                                                            </select>
                                                        </div>
                                                        <div class="review-form-name">
                                                            <label for="usernumber" class="form-label">Postcode /
                                                                ZIP*</label>
                                                            <input type="number" id="usernumber" class="form-control"
                                                                placeholder="0000">
                                                        </div>
                                                    </div>
                                                    <div class="login-btn text-center">
                                                        <a href="#" onclick="modalAction('.submit')"
                                                            class="shop-btn">Add Address</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- change this -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------------- user-profile-section-end --------------->

    <!--------------- footer-section--------------->
    {% include 'user/footer.html' %}
    <!--------------- footer-section-end--------------->






    <!--------------- jQuery ---------------->
    <script src="../../static/userResource/js/jquery_3.7.1.min.js"></script>

    <!--------------- bootstrap-js ---------------->
    <script src="../../static/userResource/js/bootstrap_5.3.2.bundle.min.js"></script>

    <!--------------- Range-Slider-js ---------------->
    <script src="../../static/userResource/js/nouislider.min.js"></script>

    <!--------------- scroll-Animation-js ---------------->
    <script src="../../static/userResource/js/aos-3.0.0.js"></script>

    <!--------------- swiper-js ---------------->
    <script src="../../static/userResource/js/swiper10-bundle.min.js"></script>

    <!--------------- additional-js ---------------->
    <script src="../../static/userResource/js/ecoshop.js"></script>



</body>

</html>